<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }}>
</head>
<body>
    <h1>Hello, {{title}}</h1>
    <div class="x">x = {{x}}</div>
    <div class="y">y = {{y}}</div>
    <div class="z">z = {{z}}</div>

    <ul>
        {% for item in z %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
</body>
</html>